<div class="loading-cover" [ngClass]="{'hidden': true}"></div>
<div class="backdrop" [style.--primary]="get_playlist_primary_color()" [ngClass]="{'searching': search_query.length > 0}"></div>
<div class="close" (click)="close()" [style.--mask]="'url(\'chevron-left.svg\')'"></div>
<div class="search-filter" [ngClass]="{'searching': search_query.length > 0}">
    <div class="input">
        <div class="icon" [style.--mask]="'url(\'search.svg\')'"></div>
        <input #searchInput type="text" placeholder="Filter {{playlist_identifier?.name}}" (input)="on_search_input($event)" />
    </div>
    <div class="sort" (click)="open_sort_options()" *ngIf="search_query.length === 0">
        <span>Sort</span>
        <div class="icon" [style.--mask]="'url(\'arrows-sort.svg\')'"></div>
    </div>
    <div class="sort" (click)="clear_search()" *ngIf="search_query.length > 0">
        <span>Cancel</span>
        <div class="icon" [style.--mask]="'url(\'x.svg\')'"></div>
    </div>
</div>
<div class="cover" [ngClass]="
    {
        'searching': search_query.length > 0,
        'zero': playlist_identifier?.images.length === 0,
        'single': playlist_identifier?.images.length < 4
    }
">
    <!-- <img *ngFor="let image of ['https://lh3.googleusercontent.com/pYeknGiiTlUbrAReZHrElq5xQd5995bN2S7Kx8NFFGOVVdDTGXkSQXCxxfTFPsfA3WYdkkVENDn8t107=w180-h180-l90-rj']" [src]="image" alt="" /> -->
    <ng-container *ngFor="let image of playlist_identifier?.images; let i = index">
        <img [src]="image" alt="" *ngIf="(i === 0 && playlist_identifier?.images.length < 4) || playlist_identifier?.images.length >= 4">
    </ng-container>
</div>
<div class="header" [ngClass]="{'searching': search_query.length > 0}">
    <div class="title">{{ playlist_identifier?.name }}</div>
     <div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;;">
        <div class="artist">{{ playlist_identifier?.created_by === "system" ? '' : (playlist_identifier?.created_by === 'user' ? 'You' : playlist_identifier?.created_by) }}</div>
        <div class="dot" *ngIf="playlist_identifier?.created_by !== 'system'"></div>
        <div class="artist">{{ playlist_identifier?.track_count }} songs</div>
        <div class="dot" *ngIf="playlist_identifier?.duration"></div>
        <div class="duration" *ngIf="playlist_identifier?.duration">{{ ms_to_time(playlist_identifier?.duration, 'verbose') }}</div>
        <div class="dot" *ngIf="playlist_identifier?.created_by !== 'system'"></div>
        <div class="date" *ngIf="playlist_identifier?.created_by !== 'system'">{{ ms_to_time(playlist_identifier?.created_at, 'date') }}</div>
    </div>
</div>
<div class="actions" [style.--color]="get_playlist_primary_color()" [ngClass]="{'searching': search_query.length > 0}">
    <div class="close" (click)="close()" [style.--mask]="'url(\'chevron-left.svg\')'" *ngIf="is_actions_sticky"></div>
    <div class="action add" [style.--color]="get_playlist_primary_color()" (click)="toggle_playlist_add()" [style.--mask]="'url(\'' + (is_playlist_stored ? 'check.svg' : 'plus.svg') + '\')'" [ngClass]="{'active': is_playlist_stored}" *ngIf="!is_default_playlist"></div>
    <div class="action download" (click)="request_download_playlist()" [style.--mask]="'url(\'download.svg\')'" *ngIf="(videos.length > 0 || !loaded) && !is_playlist_download_playlist "></div>
    <div class="action more" (click)="open_more_options()" [style.--mask]="'url(\'dots.svg\')'"></div>
    <div class="action shuffle" (click)="toggle_shuffle()" [style.--mask]="'url(\'arrows-shuffle.svg\')'" [ngClass]="{'active': shuffle}" [style.--color]="get_playlist_primary_color()" *ngIf="videos.length > 0 || !loaded">
        <div class="indicator" *ngIf="shuffle"></div>
    </div>
    <div class="action play active" (click)="play_playlist()" [style.--mask]="'url(\'' + playlist_play_pause_icon + '.svg\')'" [style.--color]="get_playlist_primary_color()" *ngIf="videos.length > 0 || !loaded"></div>
</div>
<div 
    class="scrollbar" 
    [class.visible]="scrollbar_visible"
    [class.hide-label]="!scrollbar_text"
    [style.--text]="scrollbar_text" 
    [style.--mask]="'url(\'caret-up-down.svg\')'"
    [style.transform]="scrollbar_transform"
    (mousedown)="scrollbar_on_drag_start($event)"
    (touchstart)="scrollbar_on_drag_start($event)"
></div>
<div class="result-videos hide-scrollbar" #resultVideos (scroll)="on_scroll($event)" [style.padding-top]="padding_top" [style.padding-bottom]="padding_bottom">
    <button 
        class="result video" 
        *ngFor="let video of visible_videos"
        [ngClass]="{selected: get_bare_song_key(current_song_identifier) === get_bare_song_key(video?.id)}" 
            (touchstart)="video_on_swipe_start($event, video)"
            (touchmove)="video_on_swipe_move($event)"
            (touchend)="video_on_swipe_end($event)"
            (mousedown)="video_on_swipe_start($event, video)"
            (mousemove)="video_on_swipe_move($event)"
            (mouseup)="video_on_swipe_end($event)"
            (mouseleave)="video_on_swipe_end($event)"
            [attr.data-video-key]="video_key(video)"
            [style.transform]="swiping_video === video_key(video) ? 'translateX(' + swipe_x + 'px)' : ''"
            [style.border-bottom]="is_downloading(video?.id?.video_id || '') ? 'solid 1px transparent' : null"
    >
        <div class="thumbnail" [style.background-color]="video?.colors?.primary || '#1a1c1b'" *ngIf="playlist_identifier.playlist_type !== 'album'">
            <img [src]="get_artwork_src(video)" alt="" />
            <!-- <img [src]="video?.url?.artwork?.low" alt="" /> -->
            <!-- <div class="duration">{{ ms_to_time( video?.video_duration || 0) }}</div> -->
        </div>
        <div class="info">
            <div class="title" [style.--color]="get_playlist_primary_color()"><span>{{ video?.song_name }}</span></div>
            <div style="display: flex; flex-direction: row; align-items: center;">
                <div class="explicit" [style.--mask]="'url(\'explicit.svg\')'" *ngIf="video?.explicit"></div>
                <div 
                    class="artist"
                    *ngFor="let artist of video?.artists; let isLast = last"
                >
                    <div>{{ artist.name }}</div>
                    <span *ngIf="!isLast">, </span>
                </div>
                <div class="dot" *ngIf="video?.video_duration"></div><div class="duration" *ngIf="video?.video_duration">{{ ms_to_time(video?.video_duration) }}</div>
            </div>
        </div>
        <div class="extra-info" [style.--color]="get_playlist_primary_color()">
            <div class="source" [style.--color]="get_source_color(video?.id?.source)" [style.--mask]="'url(\'brand-' + video?.id?.source + '.svg\')'"></div>
            <div class="liked" *ngIf="video?.liked" [style.--mask]="'url(' + 'heart-fill.svg' + ')'"></div>
            <div class="downloaded" *ngIf="video?.downloaded && video?.download_hls_bundle" [style.--mask]="'url(' + 'cloud-download.svg' + ')'"></div>
        </div>
        <div class="extra-info-alignment">
            <button class="hot-action" [style.--mask]="'url(\'' + 'dots.svg' + '\')'" (click)="$event.preventDefault(); $event.stopPropagation(); open_video_options(video);">
                <!-- <div class="indicator" *ngIf="is_song_in_collection(video, 'spotify')"></div> -->
            </button>
        </div>
        <div class="download" *ngIf="is_downloading(video?.id?.video_id || '')">
            <div class="progress" [style.--color]="get_playlist_primary_color()"  [style.width.%]="video_progress(video?.id?.video_id || '') || is_in_download_queue(video?.id?.video_id || '')" [ngClass]="{'loading': is_in_download_queue(video?.id?.video_id || '')}"></div>
        </div>
        <div class="quick-actions" [style.width.px]="swiping_video === video_key(video) ? swipe_width : 0">
            <button [ngClass]="{hidden: swipe_x < -delete_swipe_open_size}" (click)="open_video_options(video); $event.preventDefault(); $event.stopPropagation();" [style.background-color]="'var(--color-neutral)'" class="action" [style.--mask]="'url(' + 'dots.svg' + ')'"></button>
            <button [ngClass]="{hidden: swipe_x < -delete_swipe_open_size}" (click)="toggle_like(video); $event.preventDefault(); $event.stopPropagation();" [style.background-color]="'var(--color-primary)'" class="action" [style.--mask]="'url(' + (video?.liked ? 'heart-fill.svg' : 'heart.svg') + ')'"></button>
            <button [ngClass]="{hidden: swipe_x < -delete_swipe_open_size, loading: download_state(video) === 'downloading'}" (click)="download_video(video); $event.preventDefault(); $event.stopPropagation();" [style.background-color]="get_playlist_primary_color()" class="action" [style.--mask]="'url(' + download_icon(video) + ')'"></button>
            <button [ngClass]="{hidden: swipe_x > -delete_swipe_open_size}" [style.background-color]="'var(--color-deny)'" class="action" [style.--mask]="'url(' + 'trash.svg' + ')'"></button>
        </div>
    </button>
</div>
<!-- no songs in playlist -->
<div *ngIf="videos.length === 0 && loaded" class="no-results">
    <h2>Looks Empty In Here...</h2>
    <p>No songs in this playlist</p>
    <div class="search" (click)="redirect_to_search()" class="search" [style.background-color]="get_playlist_primary_color()" [style.color]="get_text_contrast_color(get_playlist_primary_color())">
        <span>Look For Some!</span>
        <div class="icon" [style.--mask]="'url(\'search.svg\')'" [style.--color]="get_text_contrast_color(get_playlist_primary_color())"></div>
    </div>
</div>
<!-- no songs for query -->
<div *ngIf="visible_videos.length === 0 && loaded && search_query.length > 0 && !(videos.length === 0 && loaded)" class="no-results">
    <h2>No Results</h2>
    <p>No songs found for your search</p>
    <div class="search" (click)="redirect_to_search()" class="search" [style.background-color]="get_playlist_primary_color()" [style.color]="get_text_contrast_color(get_playlist_primary_color())">
        <span>Search For Something!</span>
        <div class="icon" [style.--mask]="'url(\'search.svg\')'" [style.--color]="get_text_contrast_color(get_playlist_primary_color())"></div>
    </div>
</div>

<div class="notification" [ngClass]="{'push': notification_visible}">
    {{ notification_message }}
</div>