<div class="page_container">
    <h2>History</h2>

    <div class="youtube_video_grid">
        <a class="video" #videoItem (click)="playNewVideo(video)" *ngFor="let video of sortedHistory">
            <div class="thumbnail" [attr.background-url]="video.videoData.videoThumbnailUrl" [ngStyle]="{ 'background-image': 'url(' + video.videoData.videoThumbnailUrl + ')' }">
                <div class="video_time_display"><div class="video_time_text">{{ formatVideoDuration(video.videoData.length) }}</div></div>
                <div class="video_progress_bar" [style.width.%]="getVideoProgressPercent(video.id)"></div>
            </div>

            <div class="video_details">
                <button class="video_channel_icon" (click)="navigateToChannel(video.videoData.channelId)" [ngStyle]="{ 'background-image': 'url(' + video.videoData.channelThumbnailUrl + ')' }"></button>
                <div class="video_text">
                    <p class="video_title">{{ video.videoData.title}}</p>
                    <p class="video_caption">{{ video.videoData.channelTitle}}</p>
                    <p class="video_caption"> watched {{ timeAgo(video.videoData.watchedAt)}}</p>
                </div>
            </div>
        </a>
    </div>
</div>