<hot-action #hot_action [ngClass]="{revealed: hot_action_open}"></hot-action>
<quick-action #quick_action [ngClass]="{revealed: quick_action_open}"></quick-action>

<div 
    #playerContainer 
    class="container" 
    [@playerState]="getAnimationParams()"
    [ngClass]="{
        'hidden': visibility_status === 'hidden', 
        'reduced': visibility_status === 'reduced',
        'landscape': isLandscape,
        'portrait': isPortrait
    }"
    [style.--background]="get_thumbnail_background(current_media_data || current_song_data)"
>
<!-- [style.background]="get_thumbnail_background(current_song_data)" -->
    <canvas id="visualization-canvas" width="800" height="800"></canvas>
    <button 
        class="media-header" 
        (touchstart)="onHeaderTouchStart($event)"
        (touchmove)="onHeaderTouchMove($event)"
        (touchend)="onHeaderTouchEnd($event)"
        (mousedown)="onHeaderMouseDown($event)"
        (click)="onHeaderClick($event)"
        [style.background-color]="visibility_status === 'reduced' ? 'var(--color-background-200)' : 'transparent'"
        [ngClass]="{'reduced': visibility_status === 'reduced'}"
    >
        <div class="meta-audio-progress" [style.display]="player_status === 'stopped' ? 'none' : 'flex'" [style.--progress]="audio_current_time / audio_duration" [style.opacity]="visibility_status === 'reduced' ? '1' : '0'"></div>
        <div class="status" [style.mask-image]="'url(' + (visibility_status === 'visible' ? 'chevron-down.svg' : 'chevron-up.svg') + ')'"></div>
        <div class="media-info">
            <div class="media-info-background" [style.flex-direction]="visibility_status === 'reduced' ? 'column' : 'column-reverse'" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                <span class="title" [style.font-size]="visibility_status === 'reduced' ? 'var(--space-4)' : 'var(--space-5)'">{{ visibility_status === "visible" ? (current_playlist_data?.name || '') : (current_media_data?.song_name || current_media_data?.original_song_name || "Unknown Song") }}</span>
                <span class="subtitle" [style.font-size]="visibility_status === 'reduced' ? 'var(--space-3)' : 'var(--space-4)'">{{ visibility_status === "visible" ? (current_playlist_data?.name ? "Playing From" : '') : (current_media_data?.artists?.[0]?.name || "Unknown Artist") }}</span> 
            </div>
        </div>
        <!-- <div class="player-status" (click)="toggle_play(); $event.stopPropagation();" [style.display]="visibility_status === 'reduced' ? 'block' : 'none'" [style.--mask]="'url(' + (player_status === 'paused' ? 'player-play.svg' : 'player-pause.svg') + ')'"></div> -->
        <!-- <div class="player-status like" [style.transform]="'translateX(-145%)'" [style.scale]="1.25" [style.display]="visibility_status === 'reduced' ? 'block' : 'none'" [ngClass]="{active: player_status !== 'stopped'}" [style.--color]="player_status !== 'stopped' ? 'var(--color-primary)' : 'var(--color-neutral)'" (click)="debug_like_click($event)" [style.--mask]="'url(' + ((current_song_data?.liked === true || buffer_like === true) ? 'heart-fill.svg' : 'heart.svg') + ')'"></div> -->
        <div class="player-status inverse" [style.display]="visibility_status === 'reduced' ? 'block' : 'none'" [ngClass]="{active: player_status !== 'stopped', spinner: player_status === 'stopped'}" (click)="debug_play_click($event)" [style.--mask]="'url(' + (player_status !== 'stopped' ? (player_status === 'paused' ? 'player-play.svg' : 'player-pause.svg') : 'loader.svg') + ')'"></div>
        <!-- <div class="queue-container" [style.display]="visibility_status === 'visible' ? 'flex' : 'none'" (click)="open_queue_management(); $event.stopPropagation();">
            <div class="queue" [style.mask-image]="'url(\'playlist.svg\')'"></div>
        </div> -->
    </button>    
    <div class="media" [ngClass]="orientation_class">
        <div #media
            class="draggable"
            (touchstart)="onTouchStart($event)"
            (touchmove)="onTouchMove($event)"
            (touchend)="onTouchEnd($event)"
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)"
            (mouseup)="onMouseUp($event)"
            (mouseleave)="onMouseUp($event)"
        ></div>
        <div class="thumbnail">
            <!-- https://i.scdn.co/image/ab67616d0000b2736d6b5c0e21a25b0e9ea18ca5 -->
            <img id="thumbnail" src="" style="pointer-events: none;" [ngClass]="{disco: disco_mode }"/>
        </div>
        <audio id="audio" preload="auto" playsinline controls>
            <source id="audio-src" src="" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <div class="dashboard">
            <!-- <div class="glass"></div> -->
             <!-- <div class="audio-info hide-scrollbar">
                <div 
                    class="quality" 
                    (click)="quality_selection_open = !quality_selection_open"
                    [style.--mask]="'url(\'' + get_quality_icon + '\')'"
                    [style.--primary]="(player_quality_update === 'up' ? 'var(--color-success)' : (player_quality_update === 'down' ? 'var(--color-deny)' : 'var(--color-primary)'))"
                ></div>
                <div 
                    *ngIf="player_quality_update !== 'none'" 
                    class="quality-update" 
                    [style.--mask]="'url(\'' + get_quality_update_icon + '\')'"
                    [style.--primary]="player_quality_update === 'up' ? 'var(--color-success)' : 'var(--color-deny)'"
                ></div>
                <div class="quality-selection hide-scrollbar" [ngClass]="{open: quality_selection_open}" (click)="$event.stopPropagation();">
                    <div class="quality-option" *ngFor="let quality of available_qualities; let i = index; let isLast = last" (click)="set_quality(quality)" [style.--mask]="(i + 1 + minimum_hls_level) <= 5 && quality != 'auto' ? 'url(\'antenna-bars-' + (i + 1 + minimum_hls_level) + '.svg\')' : ''" [ngClass]="{active: quality === current_quality, 'no-mask': (i + 1 + minimum_hls_level) > 5 || quality === 'auto'}">
                        {{ isLast ? 'Auto' : '' }}
                    </div>
                </div>
            </div> -->
            <div class="metadata" style="margin-bottom: var(--space-3);">
                <!-- <button class="quick-playlist-action like" [style.--color]="player_status === 'stopped' ? 'var(--color-neutral)' : ((current_song_data?.liked === true || buffer_like === true) ? 'var(--color-primary)' : 'var(--color-neutral)')" [style.--mask]="'url(' + ((current_song_data?.liked === true || buffer_like === true) ? 'heart-fill.svg' : 'heart.svg') + ')'" (click)="toggle_like()"></button> -->
                <button class="quick-playlist-action add" (click)="add_song_to_playlist()" [ngClass]="{added: is_song_in_playlist(current_song_data || current_media_data)}" [style.--mask]="'url(' + (is_song_in_playlist(current_song_data || current_media_data) ? 'check.svg' : 'plus.svg') + ')'"></button>
                <div class="info">
                    <div class="title">{{current_media_data?.original_song_name || current_media_data?.song_name || "#no name"}}</div>
                    <!-- <div class="artist">{{current_media_data?.original_artists?.[0]?.name || "#no artist"}}</div> -->
                    <div class="artists">
                        <div class="explicit" [style.--mask]="'url(\'explicit.svg\')'" *ngIf="current_media_data?.explicit"></div>
                        <div 
                            class="artist"
                            *ngFor="let artist of current_media_data?.artists; let isLast = last"
                        >
                            <div>{{ artist.name }}</div>
                            <span *ngIf="!isLast">, </span>
                        </div>
                        <div class="source" [style.--color]="get_source_color(current_media_data?.id?.source)" [style.--mask]="'url(\'brand-' + current_media_data?.id?.source + '.svg\')'"></div>
                    </div>
                </div>
            </div>
            <div 
                class="audio-wrapper"
                (mousedown)="onSeekBarMouseDown($event)"
                (touchstart)="onSeekBarTouchStart($event)"
            >
                <div class="audio-progress" 
                    [ngClass]="{
                        'dragging': isSeekBarDragging,
                        'disabled': is_seekbar_disabled
                    }"
                >
                    <div 
                        class="buffer-bar" 
                        [style.opacity]="is_seekbar_disabled ? '0' : '1'"
                        [style.--buffered-percent]="(is_seekbar_disabled ? 00 : buffered_percent) + '%'" 
                        [style.--color]="is_seekbar_disabled ? 'var(--color-neutral)' : 'var(--color-primary)'"
                        [ngClass]="{loading: is_seekbar_disabled}"
                    ></div>
                    <div class="progress"
                        [style.--value]="is_seekbar_disabled ? 00 : (isSeekBarDragging ? seekBarPreviewValue : audio_current_time)"
                        [style.--max]="is_seekbar_disabled ? 100 : audio_duration"
                        [style.--color]="is_seekbar_disabled ? 'var(--color-neutral)' : 'var(--color-primary)'"
                    ></div>
                    <!-- <div class="seek-thumb" 
                        [style.left.%]="(isSeekBarDragging ? seekBarPreviewValue : audio_current_time) / audio_duration * 100"
                        [style.opacity]="isSeekBarDragging ? '1' : '0'"
                    ></div> -->
                </div>
            </div>
            <div class="duration">
                <span class="time" [ngClass]="{show: is_progress_accurate}">{{ isSeekBarDragging ? seconds_to_time(seekBarPreviewValue) : seconds_to_time(audio_current_time) }}</span>
                <span class="time" [ngClass]="{show: is_duration_accurate}">-{{ isSeekBarDragging ? seconds_to_time(audio_duration - seekBarPreviewValue) : seconds_to_time(audio_duration - audio_current_time) }}</span>
                <span class="loading-indicator" *ngIf="loading_state !== null">{{loading_state_text}}</span>
            </div>
            <!-- style="margin-bottom: auto;" -->
            <div class="controls">
                <button class="control-button" [ngClass]="{active: is_desired_play_method_active}" (click)="toggle_desired_play_method()" [style.--mask]="'url(' + (prefers_shuffle_play_over_dj_play ? 'arrows-shuffle.svg' : 'disco-ball-fill.svg') + ')'">
                    <div class="indicator" *ngIf="is_desired_play_method_active"></div>
                </button> <!-- shuffle or disco-->
                <button class="control-button active" [ngClass]="{active: player_status !== 'stopped' && player_error == null, error: player_error !== null}" (click)="previous()" [style.--mask]="'url(' + 'player-skip-back-no-bar.svg' + ')'">
                    <div id="bar-main-left-temp" class="indicator-bar left temp" [ngClass]="{active: previous_song_exists, loading: player_status === 'stopped'}"></div>
                    <div id="bar-main-left" class="indicator-bar left" [ngClass]="{loading: player_status === 'stopped'}"></div>
                    <div id="bar-main-left-merger" class="indicator-bar left merger" [ngClass]="{active: previous_song_exists, loading: player_status === 'stopped'}"></div>
                </button> <!-- previous-->
                <button 
                    class="control-button inverse"
                    [ngClass]="{active: player_status !== 'stopped' && player_error == null, spinner: player_status === 'stopped' && player_error == null, error: player_error !== null}" 
                    (click)="toggle_play()" 
                    [style.--mask]="'url(' + play_button_icon + ')'"
                ></button> <!-- play/pause-->
                <button class="control-button active" [ngClass]="{active: player_status !== 'stopped' && player_error == null, error: player_error !== null}" (click)="next()" [style.--mask]="'url(' + 'player-skip-forward-no-bar.svg' + ')'">
                    <div id="bar-main-right-temp" class="indicator-bar right temp" [ngClass]="{active: preloaded_next_song, loading: player_status === 'stopped'}"></div>
                    <div id="bar-main-right" class="indicator-bar right" [ngClass]="{loading: player_status === 'stopped'}"></div>
                    <div id="bar-main-right-merger" class="indicator-bar right merger" [ngClass]="{active: preloaded_next_song, loading: player_status === 'stopped'}"></div>
                </button> <!-- skip-->
                <button class="control-button" [ngClass]="{active: repeat}" [style.--mask]="'url(' + 'repeat.svg' + ')'" (click)="toggle_repeat()">
                    <div class="indicator" *ngIf="repeat"></div>
                </button> <!-- repeat-->
            </div>
            <!-- <div class="volume-control" style="display: none;"> not available on pwa
                <input type="range" class="slider" min="0" max="100" value="50">
            </div> -->
            <div class="modifiers">
                <button class="modifier-button left" (click)="download_song()" [style.--progress]="video_progress(current_media_data?.id?.video_id || current_song_data?.id?.video_id || '')" [ngClass]="{downloading: is_downloading(current_media_data?.id?.video_id || '') || is_downloading(current_song_data?.id?.video_id || '') }" [style.pointer]="current_song_data?.downloaded ? 'default' : 'pointer'" [style.--color]="current_song_data?.downloaded ? 'var(--color-primary)' : 'var(--color-neutral)'" [style.--mask]="'url(' + ( is_downloading(current_media_data?.id?.video_id || '') || is_downloading(current_song_data?.id?.video_id || '') ? 'loader.svg' : (current_song_data?.downloaded || current_media_data?.downloaded ? 'cloud-download.svg' : 'download.svg')) + ')'"></button> <!-- download -->
                <!-- <button class="modifier-button" (click)="add_song_to_playlist()" [style.--mask]="'url(' + 'plus.svg' + ')'"></button> add to playlist -->
                <!-- <button class="modifier-button"></button> equilizer (doesnt work on lockscreen) -->
                <!-- <button class="modifier-button disabled" (click)="toggle_disco_mode()" [style.--mask]="'url(' + 'disco-ball-fill.svg' + ')'"></button> toggle disco mode -->
                <!-- [style.--color]="disco_mode ? 'var(--color-primary)' : 'var(--color-neutral)'" -->
                <button class="modifier-button disabled right" style="margin-left: auto;" [style.--mask]="'url(' + 'badge-cc.svg' + ')'"></button> <!-- toggle lyrics-->
                <button class="modifier-button right" style="scale: 0.8;" (click)="open_queue_management()" [style.--color]="'var(--color-neutral)'" [style.--mask]="'url(' + 'queue.svg' + ')'"></button> <!-- open queue-->
                <!-- <button class="modifier-button disabled" [style.--mask]="'url(' + 'edit.svg' + ')'"></button> edit -->
                <!-- <button class="modifier-button"></button> add to playlist -->
            </div>
        </div>
    </div>
</div>