:host {
    position: fixed;
    transform: translateY(110%);
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 10000005;
    transition: transform 0.25s ease-in-out;

    .dimmer {
        position: fixed;
        top: -100%;
        left: 0;
        width: 300%;
        height: 300%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: -1;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        display: none;
    }

    &.dragged {
        transition: none;
    }
}
:host.revealed {
    transform: translateY(0%);

    .dimmer {
        pointer-events: auto;
        opacity: 1;
        display: block;
    }
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20dvh;
    max-height: calc(100dvh - var(--space-9));
    transition: transform 0.1s ease-out;
    will-change: transform;
    background-color: var(--color-background-200);
    border-top-left-radius: var(--space-2);
    border-top-right-radius: var(--space-2);
}

.header {
    position: relative;
    top: 0;
    width: 100%;
    height: var(--space-7);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--space-4);
    /* background-color: var(--color-background-100); */
    /* box-shadow: 0 10px 10px 10px var(--color-background-100); */
    border-top-left-radius: var(--space-2);
    border-top-right-radius: var(--space-2);
    cursor: grab;
    user-select: none;
    -webkit-user-select: none;
    touch-action: pan-y;

    .dragging-pill {
        position: absolute;
        top: var(--space-2);
        width: clamp(40px, 20%, 100px);
        height: var(--space-1);
        background-color: var(--color-background-400);
        border-radius: var(--space-1);
        pointer-events: none;
    }
}
.header:active {
    cursor: grabbing;
}
.header .close {
    color: var(--color-background);
    position: absolute;
    left: var(--space-2);
    top: 50%;
    transform: translateY(-25%);
    background-color: var(--color-primary);
    border-radius: 999px;
    padding: var(--space-1) var(--space-3);
    font-size: var(--space-3);
    font-weight: 700;
    cursor: pointer;
    transition: filter .15s ease-in-out;
}
.header .close:hover {
    filter: brightness(0.8);
}
.header .close:active {
    filter: brightness(0.7);
}
.header .title {
    font-weight: 500;
    color: var(--color-text);
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: var(--space-3) 0;
}
.preview, .action {
    position: relative;
    width: 80%;
    height: 80px;
    border-bottom: solid 1px var(--color-background-300);
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    color: var(--color-text);
    align-items: center;
    gap: var(--space-2);
}
.preview {
    padding: var(--space-2);
}
.preview .thumbnail, .action .thumbnail {
    position: relative;
    height: 100%;
    scale: .9;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    flex-shrink: 0;
    background-color: var(--color-background);
    border-radius: var(--space-2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.playlist .thumbnail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80%;
    aspect-ratio: 1 / 1;
    position: relative;
    border-radius: var(--space-2);
    margin-left: 8px;
}
.playlist .thumbnail.single {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    * {
        display: none;
    }
}
/* .playlist .thumbnail::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    box-shadow: 0 0 8px 6px var(--primary);
    opacity: 0.5;
    border-radius: inherit;
    z-index: -1;
} */
/* .playlist.no-background .thumbnail::after {
    background-color: var(--color-background-200);
    box-shadow: 0 0 8px 6px var(--color-background-200);
    opacity: 1;
} */
.playlist .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.playlist .thumbnail .image {
    /* using mask */
    width: 100%;
    height: 100%;
    mask-size: cover !important;
    mask-repeat: no-repeat !important;
    mask-position: center;
    mask: var(--mask);
    scale: .6;
    background-color: var(--primary);
}
.playlist .thumbnail.single img:nth-child(1) {
    border-radius: var(--space-2);
    display: block;
}
.playlist .thumbnail img:nth-child(1) {
    border-top-left-radius: var(--space-2);
}
.playlist .thumbnail img:nth-child(2) {
    border-top-right-radius: var(--space-2);
}
.playlist .thumbnail img:nth-child(3) {
    border-bottom-left-radius: var(--space-2);
}
.playlist .thumbnail img:nth-child(4) {
    border-bottom-right-radius: var(--space-2);
}
.action .thumbnail {
    scale: .8;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80%;
    position: relative;
}
.preview .thumbnail img {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.preview .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: var(--space-1);
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}
.preview .info .title {
    font-size: calc(1 * var(--font-size-base));
    font-weight: 500;
    color: var(--color-text);
    display: -webkit-box;           /* REQUIRED */
    line-clamp: 2;
    -webkit-line-clamp: 2;          /* REQUIRED */
    -webkit-box-orient: vertical;   /* REQUIRED */
    overflow: hidden;               /* REQUIRED */
    text-overflow: ellipsis;
    white-space: normal;
}
.preview .info .artist {
    font-size: calc(var(--font-size-base) * .8);
    color: var(--color-neutral);
    text-overflow: ellipsis;
}
.action {
    background-color: transparent;
    font-size: var(--space-5);
    border-bottom: solid 2px var(--color-background-200);
    border-radius: 0;
    cursor: pointer;
}
.action.null {
    pointer-events: none;
    opacity: 0.4;
}
.action.null .name {
    color: var(--color-neutral) !important;
}
.action:last-child {
    border-bottom: solid 1px transparent;
}
.actions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: var(--space-3);
    padding: var(--space-5) 0;
}
.action .thumbnail .icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: var(--mask);
    background-color: var(--color);
    transition: background-color 0.15s ease-in-out;
}
.action.playlist .thumbnail .icon::after {
    background-color: var(--color);
}
.action.null .state {
    display: none;
}
.action .state {
    position: absolute;
    top: 50%;
    right: var(--space-3);
    transform: translate(-50%, -50%);
    aspect-ratio: 1 / 1;
    height: 50%;
    flex-shrink: 0;
    border-radius: 50%;
    /* background-color: var(--color-primary); */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.action .state::after {
    content: '';
    width: 60%;
    height: 60%;
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: var(--mask);
    background-color: var(--color);
    transition: background-color 0.15s ease-in-out;
}
.action .name {
    color: var(--text);
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: color 0.15s ease-in-out;
    text-align: left;
}
.action.playlist .name {
    color: var(--text);
}
.finish-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--space-9);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: var(--space-4);
    justify-content: center;
    gap: var(--space-4);
    background-color: var(--color-background-100);
}
.finish-container.hide {
    display: none;
}
.finish {
    position: relative;
    width: 70%;
    height: var(--space-7);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--color-background-100);
    font-size: var(--space-5);
    font-weight: bolder;
    background-color: var(--color-primary);
    border-radius: 99999px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, filter 0.15s ease-in-out;
}
.finish:active {
    filter: brightness(0.8);
}
.action.playlist .info {
    display: flex;
    flex-direction: row;
    gap: var(--space-2);
    white-space: nowrap;
    overflow: hidden;
    color: var(--text);
    font-size: calc(var(--font-size-base) * 0.8);
    text-align: left;
}
.import {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 20vh;
    padding-bottom: 10vh;
}
.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    flex-shrink: 0;
    background: linear-gradient(180deg, var(--primary), transparent);
    opacity: .45;
    z-index: -1;
}
.import-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: var(--space-5);
    width: 80%;
    max-width: 550px;

    .options {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        .option {
            position: relative;
            --color-to-display: var(--color-neutral);
            width: var(--space-9);
            height: var(--space-9);
            flex-shrink: 0;
            border-radius: 50%;
            /* background-color: var(--color-background-200); */
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.15s ease-in-out;

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                mask-size: cover;
                mask-position: center;
                mask-repeat: no-repeat;
                mask-image: var(--mask);
                background-color: var(--color-to-display);
                transition: background-color 0.15s ease-in-out;
                scale: .75;
            }

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: var(--color-background);
                border-top-left-radius: var(--space-5);
                border-top-right-radius: var(--space-5);
                top: calc(100% - var(--space-4));
                transition: top 0.15s ease-in-out;  
            }
        }
        .option.select {
            --color-to-display: var(--color);

            &::before {
                top: 0;
            }
        }
    }

    .input {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: flex-start;
        /* gap: var(--space-2); */
        width: 100%;
        min-height: var(--space-10);
        background-color: var(--color-background);
        border-bottom-left-radius: var(--space-2);
        border-bottom-right-radius: var(--space-2);
        z-index: 5;
        padding: var(--space-3);

        .examples {
            display: flex;
            flex-direction: column;
            /* gap: var(--space-1); */
            width: 100%;
            overflow-y: auto;
            line-height: 1.2;

            span {
                font-size: calc(var(--font-size-base) * 0.95);
                color: var(--color-primary);
                font-weight: 500;
            }  
        }
        .example {
            margin-left: var(--space-2);
            font-size: calc(var(--font-size-base) * 0.75);
            color: var(--color-neutral);
        }

        input, label {
            /* appearance: none; */
            position: relative;
            margin-top: auto;
            width: 100%;
            max-width: 500px;
            padding: var(--space-2);
            border-radius: var(--space-2);
            border: solid 1px var(--color-background);
            background-color: var(--color-background-200);
            outline: none;
            color: var(--color-text);
            font-size: calc(var(--font-size-base) * 1.1);
        }

        input[type="file"] {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
            z-index: 10;
            opacity: 0;
        }

    }

}













.import-input {
    width: 100%;
    max-width: 500px;
    padding: var(--space-2);
    border-radius: var(--space-2);
    border: solid 1px var(--color-background);
    background-color: var(--color-background);
    outline: none;
    color: var(--color-text);
    font-size: calc(var(--font-size-base) * 1.1);
}
.import-button {
    width: 80%;
    min-width: 80px;
    max-width: 500px;
    padding: var(--space-2);
    border-radius: var(--space-2);
    background-color: var(--color-primary);
    color: var(--color-background);
    font-size: calc(var(--font-size-base) * 1.15);
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.35s ease-in-out, filter 0.35s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.import-button.loading {
    background-color: transparent;
}
.import-status {
    position: relative;
    width: var(--space-7);
    height: calc(var(--font-size-base) * 1.15);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    opacity: 0;
    transition: opacity 0.35s ease-in-out, height 0.35s ease-in-out;
}
.import-status.loading {
    background: var(--color-primary);
    animation: spin 2s linear infinite;
    mask-image: var(--mask);
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    opacity: 1;
    height: var(--space-7);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.song_options {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-2);
    padding: var(--space-4) var(--space-4);
    margin-bottom: var(--space-6);

    .option {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: calc(var(--font-size-base) * 1.2);
        color: var(--color-text);
        cursor: pointer;
        gap: var(--space-2);

        &.disabled {
            cursor: default;
            pointer-events: none;
            color: white !important;
            filter: grayscale(1) opacity(0.4);
        }

        .icon {
            --color: var(--color-neutral);
            width: var(--space-4);
            height: var(--space-4);
            mask: var(--mask);
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            background-color: var(--color);
            opacity: 1;
            transition: opacity 0.15s ease-in-out;
            scale: 1.25;
        }

        &.title {
            color: var(--color-neutral);
            cursor: default;
            font-size: calc(var(--font-size-base) * 1);
        }
    }
}

.color-grid {
    position: relative;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(9, clamp(10px, 7%, 40px));
    gap: var(--space-2);
    padding: var(--space-6);
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
}
.color-column {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}
.color-option {
    width: 100%;
    aspect-ratio: 1 / 1;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: var(--space-1);
    cursor: pointer;
    background-color: var(--color);
}
.color-option.selected {
    box-shadow: 0 0 0px 3px var(--color);
}