<div class="page_container">
    
    <div class="video_container">

        <div id="video_player" class="video_player"></div>

        <div class="video_info">
            <p class="video_title">{{ playingVideo.title }}</p>

            <div class="video_menu">
                <div class="channel_container">
                    <button class="video_channel_icon" [ngStyle]="{'background-image': 'url('+ fullVideoData?.basicVideoData?.channelThumbnailUrl || playingVideo.channelThumbnailUrl + ')'}" (click)="navigateToChannel(playingVideo.channelId)"></button>

                    <div class="channel_data">
                        <p class="channel_name">{{ fullVideoData?.basicVideoData?.channelTitle || playingVideo.channelTitle }}</p>
                        <p class="channel_subscriber_count">{{ fullVideoData?.channelSubs || '' }}</p>
                    </div>
                </div>

                <div  (click)="toggleIsSubscribed(playingVideo.channelId); $event.stopPropagation();" [ngClass]="{'subscribe_button_unclicked': !isSubscribedToChannel(playingVideo.channelId), 'subscribe_button_clicked':isSubscribedToChannel(playingVideo.channelId)}">{{isSubscribedToChannel(playingVideo.channelId) ? "Subscribed" : "Subscribe"}}</div>
            </div>    

            <div class="video_description">
                <p> 
                    <span>{{ fullVideoData?.basicVideoData?.viewCount || playingVideo.viewCount }}</span><br>
                    <span>{{ fullVideoData?.basicVideoData?.uploadDate || playingVideo.uploadDate }}</span><br> 
                    {{ fullVideoData?.basicVideoData?.description || playingVideo.description }}
                </p>
            </div>
        </div>
    </div>

    <div class="recommended_videos">
        <button class="recommeded_video" (click)="playNewVideo(video)" *ngFor="let video of fullVideoData?.relatedVideos">
            <div class="recommended_thumbnail" [ngStyle]="{'background-image': 'url('+ video.videoThumbnailUrl + ')'}"></div>

            <div class="recommended_text">
                <p class="recommended_title">{{ video.title }}</p>
                <div class="channel_container">
                    <button class="channel_icon" [ngStyle]="{'background-image': 'url('+ video.channelThumbnailUrl + ')'}" (click)="navigateToChannel(video.channelId)"></button>
                    <p class="recommended_caption">{{ video.channelTitle }}</p>
                </div>
                <p class="recommended_caption">{{ video.viewCount }} - {{ video.uploadDate }}</p>
            </div>
        </button>
    </div>
</div>
