
<div id="youtube_video_grid" class="youtube_video_grid">
    <span *ngIf="!homepageVideos">sign in to view your homepage(doesnt work sometimes though)</span>
    <a class="video" #videoItem (click)="playNewVideo(video)" *ngFor="let video of homepageVideos">
        <div class="thumbnail" [attr.background-url]="video.videoThumbnailUrl" [ngStyle]="{'background-image': 'url(' + video.videoThumbnailUrl + ')'}">
            <div class="video_time_display"><div class="video_time_text">{{formatDuration(video.duration)}}</div></div>
            <div class="video_progress_bar" *ngIf="wasWatched(video.id)" [style.width.%]="getVideoProgressPercent(video.id)"></div>
        </div>

        <div class="video_details">
            <button class="video_channel_icon" (click)="navigateToChannel(video.channelId)" [ngStyle]="{'background-image': 'url(' + video.channelThumbnailUrl + ')'}"></button>
            <div class="video_text">
                <p class="video_title">{{video.title}}</p>
                <p class="video_caption">{{video.channelTitle}}</p>
                <p class="video_caption"> {{video.viewCount}} - {{video.uploadDate}}</p>
            </div>
        </div>
    </a>
</div>