<div class="page_container">
    <div class="subscription_list">
        <img class="channel_icon" *ngFor="let subscription of subscriptions" [ngStyle]="{ 'background-image': 'url(' + subscription.iconUrl + ')' }" (click)="navigateToChannel(subscription.channelId)">
    </div>

    <div class="youtube_video_grid">
        <a class="video" #videoItem [attr.video-id]="video.id" [attr.playlist-id]="getPlaylistId(video.channelId)" (click)="playNewVideo(video)" *ngFor="let video of sortedUploads">
            <div class="thumbnail" [attr.background-url]="video.videoThumbnailUrl" [ngStyle]="{ 'background-image': 'url(' + video.videoThumbnailUrl + ')' }">
                <div class="video_time_display"><div class="video_time_text">{{ video.duration }}</div></div>
                <div class="video_progress_bar" *ngIf="wasWatched(video.id)" [style.width.%]="getVideoProgressPercent(video.id)"></div>
            </div>

            <div class="video_details">
                <button class="video_channel_icon" [ngStyle]="{ 'background-image': 'url(' + video.channelThumbnailUrl + ')' }" (click)="navigateToChannel(video.channelId)"></button>
                <div class="video_text">
                    <p class="video_title">{{ video.title}}</p>
                    <p class="video_caption">{{ video.uploadDate}}</p>
                    <p class="video_caption">{{ video.viewCount }}</p>
                </div>
            </div>
        </a>
    </div>
</div>
