<div class="profile">
    <div class="avater">
        <img src="users.svg" alt="User Avatar">
    </div>
    <div style="display: flex; flex-direction: column; justify-content: center;">
        <div class="display-name">#display name</div>
        <div class="identifier">#identifier</div>
    </div>
</div>

<div class="setting-genre-container">
    <div 
        class="setting-genre"
        *ngFor="let genre of genres"
        (click)="open_genre_setting(genre);"
    >
        
        <div class="label">{{ genre.label }}</div>
        <div class="chevron" [style.--mask]="'url(' + 'chevron-left.svg' + ')'"></div>
    </div>
</div>