<!-- <div class="loader"></div> -->
<notification-container></notification-container>
<loading-overlay
    [ngClass]="{
        'hidden': !page_loading || true,
        'global': page_loading_global
    }"
></loading-overlay>
<div class="content-container" [ngClass]="{'music-idle': !is_music_idle}">
    <router-outlet></router-outlet>
</div>
<media-player></media-player>
<div class="navigation" [ngClass]="{'music-idle': is_music_idle}">
    <button
        *ngFor="let link of navigation_links"
            [routerLink]="link.url"
            class="navigation-link"
            (click)="on_navigation_link_click(link); $event.stopPropagation();"
            [ngClass]="{ 'active': active_link === link.url }"
    >
        <div class="icon" [style.mask-image]="'url(' + link.icon + ')'"></div>
        <span class="label">{{ link.label }}</span>
    </button>
    <div style="position: absolute; right: var(--space-4); font-size: 12px; display: flex; flex-direction: column; align-items: center;"><span>{{app_version}}</span><span style="scale: 0.8; ">W.{{worker_version}}</span></div>
</div>
