:root {
    --font-family-base: 'Poppins', sans-serif;
    --font-size-base: 16px;

    --space-0: 0px;
    --space-1: 4px;      /* 4px */
    --space-2: 8px;      /* 8px */
    --space-3: 12px;     /* 12px */
    --space-4: 16px;     /* 16px */
    --space-5: 20px;     /* 20px */
    --space-6: 28px;     /* 28px */
    --space-7: 40px;     /* 40px */
    --space-8: 60px;     /* 60px */
    --space-9: 100px;    /* 100px */
    --space-10: 160px;   /* 160px */
    --space-11: 240px;   /* 240px */
    --space-12: 400px;   /* 400px */

    --color-background-50: hsl(38, 44%, 95%);
    --color-background-100: hsl(40, 41%, 90%);
    --color-background-200: hsl(40, 43%, 80%);
    --color-background-300: hsl(39, 42%, 70%);
    --color-background-400: hsl(39, 43%, 60%);
    --color-background-500: hsl(39, 43%, 50%);
    --color-background-600: hsl(39, 43%, 40%);
    --color-background-700: hsl(39, 42%, 30%);
    --color-background-800: hsl(40, 43%, 20%);
    --color-background-900: hsl(40, 41%, 10%);
    --color-background-950: hsl(38, 44%, 5%);

    --color-background: hsl(39, 43%, 91%);
    --color-neutral: hsl(45, 2%, 40%);
    --color-text: hsl(243, 76%, 5%);
    --color-primary: hsl(38, 100%, 50%);

    --color-deny:rgb(185, 18, 18);
    --color-success: hsl(142, 100%, 41%);
    --default-primary-color: hsl(38, 100%, 60%);
}
    
@media (prefers-color-scheme: dark) {
    :root {
        --color-background-50: hsl(60, 0%, 5%);
        --color-background-100: hsl(0, 0%, 7%);
        --color-background-200: hsl(0, 0%, 9%);
        --color-background-300: hsl(34, 0%, 15%);
        --color-background-400: hsl(30, 4%, 40%);
        --color-background-500: hsl(33, 4%, 50%);
        --color-background-600: hsl(30, 4%, 60%);
        --color-background-700: hsl(34, 5%, 70%);
        --color-background-800: hsl(30, 4%, 80%);
        --color-background-900: hsl(40, 6%, 90%);
        --color-background-950: hsl(0, 4%, 95%);

        --color-background: hsl(0, 0%, 7%);
        --color-neutral: hsl(202, 7%, 78%);
        --color-text: hsl(243, 76%, 95%);
        --color-primary: hsl(38, 100%, 60%);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-font-smoothing: antialiased;
}

*:focus {
    /* tab users */
    outline-color: var(--color-primary);
}

html, body {
    overscroll-behavior: none;
    width: 100vw;
    height: 100dvh;
}

body {
    font-family: var(--font-family-base);
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: var(--font-size-base);
    margin: 0;
    padding: 0;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* -webkit-touch-callout: none; iOS Safari */
}
.enable-select {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-touch-callout: default; /* iOS Safari */
}
.disable-zoom {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    -webkit-touch-callout: none; /* iOS Safari */
}
.enable-zoom {
    touch-action: auto;
    -ms-touch-action: auto;
    -webkit-touch-callout: default; /* iOS Safari */
}
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.show-scrollbar {
    -ms-overflow-style: auto;  /* IE and Edge */
    scrollbar-width: auto; /* Firefox */
}
.show-scrollbar::-webkit-scrollbar {
    display: block;
}
/* button, input, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    outline: none;
}
button:hover, input:hover, select:hover, textarea:hover, div:hover{
    background-color: transparent;
    color: inherit;
    transform: none;
    box-shadow: none;
} */
/* button {
    transition: filter 0.15s ease-in-out;
}
button:hover {
    filter: brightness(0.9);
}
button:focus, button:active {
    filter: brightness(0.7);
} */
