

<div class="playlists-container hide-scrollbar">
    <!-- <div class="playlists-header">
        <div class="actions">
            <button class="action-playlist" (click)="import_playlist()">
                <h5>Import</h5>
                <div class="plus" [style.--mask]="'url(\'cloud-down.svg\')'"></div>
            </button>
            <button class="action-playlist" (click)="create_playlist()">
                <h5>Create</h5>
                <div class="plus" [style.--mask]="'url(\'plus.svg\')'"></div>
            </button>
        </div>
    </div> -->

    <div class="playlists-list">
        <!-- actions -->
        <button 
            class="playlist no-background" 
            (click)="import_playlist()" 
            [style.--primary]="'var(--color-primary)'"
        >
            <div class="thumbnail single" >
                <div class="image" [style.--mask]="'url(\'cloud-down.svg\')'"></div>
            </div>
            <div class="name">Import Playlist</div>
        </button>
        <button 
            class="playlist no-background" 
            (click)="create_playlist()" 
            [style.--primary]="'var(--color-primary)'"
            [style.border-bottom]="'solid 1px transparent'"
        >
            <div class="thumbnail single" >
                <div class="image" [style.--mask]="'url(\'plus.svg\')'"></div>
            </div>
            <div class="name">Create Playlist</div>
        </button>
        <h1 *ngIf="default_playlist_identifiers.length > 0">Default Playlists</h1>        
        <button 
            class="playlist" 
            *ngFor="let playlist of default_playlist_identifiers; last as isLast" 
            [ngClass]="{playing: is_current_playlist_this_playlist(playlist)}" 
            (click)="select_playlist(playlist)" 
            [style.--primary]="get_playlist_primary_color(playlist)"
            [style.border-bottom]="isLast ? 'solid 1px transparent' : null"
        >
            <div class="thumbnail" [ngClass]="{'single': playlist.images.length === 1}">
                <img *ngFor="let image of playlist?.images" [src]="image" alt="" />
            </div>
            <div class="name">{{ playlist.name }}</div>
            <div class="info">
                <div class="count">{{ playlist.track_count || 0 }} tracks</div>
                <div class="playlist-duration"> {{ ms_to_time(playlist?.duration || 0) }}</div>
            </div>
        </button>

        <h1 *ngIf="playlist_identifiers.length > 0">My Playlists</h1>

        <button 
            class="playlist" 
            *ngFor="let playlist of playlist_identifiers; last as isLast" 
            [ngClass]="{playing: is_current_playlist_this_playlist(playlist)}" 
            (click)="select_playlist(playlist)" 
            [style.--primary]="get_playlist_primary_color(playlist)"
            [style.border-bottom]="isLast ? 'solid 1px transparent' : null"
        >
            <div class="thumbnail" [ngClass]="{'single': playlist.images.length === 1}">
                <img *ngFor="let image of playlist?.images" [src]="image" alt="" />
            </div>
            <div class="name">{{ playlist.name }}</div>
            <div class="info">
                <div class="count">{{ playlist.track_count || 0 }} tracks</div>
                <div class="playlist-duration"> {{ ms_to_time(playlist?.duration || 0) }}</div>
            </div>
        </button>
    </div>
</div>