.dot {
    --size: 4px;
    height: var(--size);
    width: var(--size);
    background-color: var(--color-text);
    border-radius: 50%;
    display: inline-block;
    margin: var(--space-1);
}

.playlists-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding-bottom: var(--space-7);
}
.playlists-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--space-8);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    gap: var(--space-4);
    padding: var(--space-3);
    background-color: var(--color-background);
    z-index: 10;
    box-shadow: 0 0 10px 10px var(--color-background);
}
.actions {
    position: relative;
    /* right: var(--space-2); */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    gap: var(--space-2);

}
.action-playlist {
    position: relative;
    min-width: var(--space-6);
    height: var(--space-6);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, filter 0.15s ease-in-out;
    background-color: transparent;
    background-color: var(--color-primary);   
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-background);
    flex-direction: row;
    gap: var(--space-1);
    font-size: calc(var(--font-size-base) * 1.0);
    padding: var(--space-0) var(--space-1) var(--space-0) var(--space-3);
}
.action-playlist:hover {
    filter: brightness(0.9);
}
.plus {
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
}
.plus::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: var(--mask);
    mask-size: 80%;
    background-color: var(--color-background);
    border-radius: inherit;
}
.playlists-list {
    position: relative;
    flex: 1;
    width: calc(100% - 40px);
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-2);
    padding-bottom: var(--space-9);
    padding-top: var(--space-3);
}
.playlist {
    position: relative;
    max-width: 550px;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    flex-shrink: 0;
    color: var(--color-text);
    flex-direction: row;
    padding: 0;
    border-bottom: solid 1px var(--color-background-200);
    width: 100%;
    aspect-ratio: 1 / 1;
    max-height: 90px;
    align-items: center;
    gap: var(--space-1);
    border-radius: var(--space-4);
    overflow: hidden;
}
.playlist.last {
    border-bottom: solid 1px transparent;
}
.playlist::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    aspect-ratio: 2;
    height: 120%;
    background: radial-gradient(at bottom left, var(--primary) 0px, transparent 50%);
    opacity: 0.3;
    transition: opacity 0.15s ease-in-out;
    z-index: -1;
}
.playlist.playing::before {
    height: 220%;
}
.playlist.no-background::before {
    display: none;
}
.playlist .thumbnail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80%;
    aspect-ratio: 1 / 1;
    position: relative;
    border-radius: var(--space-2);
    margin-left: 8px;
}
.playlist .thumbnail.single {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    * {
        display: none;
    }
}
/* .playlist .thumbnail::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    box-shadow: 0 0 8px 6px var(--primary);
    opacity: 0.5;
    border-radius: inherit;
    z-index: -1;
} */
/* .playlist.no-background .thumbnail::after {
    background-color: var(--color-background-200);
    box-shadow: 0 0 8px 6px var(--color-background-200);
    opacity: 1;
} */
.playlist .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.playlist .thumbnail .image {
    /* using mask */
    width: 100%;
    height: 100%;
    display: block !important;
    scale: .75;
    /* background-color: var(--color-primary); */

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mask-size: cover !important;
        mask-repeat: no-repeat !important;
        mask-position: center;
        mask: var(--mask);
        background-color: var(--color-primary);
    }
}
.playlist .thumbnail.single img:nth-child(1) {
    border-radius: var(--space-2);
    display: block;
}
.playlist .thumbnail img:nth-child(1) {
    border-top-left-radius: var(--space-2);
}
.playlist .thumbnail img:nth-child(2) {
    border-top-right-radius: var(--space-2);
}
.playlist .thumbnail img:nth-child(3) {
    border-bottom-left-radius: var(--space-2);
}
.playlist .thumbnail img:nth-child(4) {
    border-bottom-right-radius: var(--space-2);
}
.playlist .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-2);
    gap: var(--space-1);
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-align: left;
    align-items: flex-start;
}
.playlist .name {
    font-size: calc(1.2 * var(--font-size-base));
    color: var(--color-text);
    display: -webkit-box;           /* REQUIRED */
    line-clamp: 2;
    -webkit-line-clamp: 2;          /* REQUIRED */
    -webkit-box-orient: vertical;   /* REQUIRED */
    overflow: hidden;               /* REQUIRED */
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: 600;
}
.playlist .details {
    font-size: calc(.8 * var(--font-size-base));
    font-weight: 400;
    color: var(--color-neutral);
    text-overflow: ellipsis;
    white-space: normal;

    .dot {
        --size: 3px;
        margin: 0 2px;
        background-color: var(--color-neutral);
    }
}
.playlist.playing .name {
    color: var(--primary);
}
.playlist .info .count {
    font-size: calc(var(--font-size-base) * .75);
    color: var(--color-neutral);
    text-overflow: ellipsis;
}
.playlist.playing .info .count {
    color: var(--primary);
}
.playlist .info .playlist-duration {
    font-size: calc(var(--font-size-base) * .65);
    color: var(--color-neutral);
    text-overflow: ellipsis;
}
.playlist.playing .info .playlist-duration {
    color: var(--primary);
}
.playlists-list h1 {
    width: 100%;
    text-align: left;
    font-size: calc(var(--font-size-base) * 1.6);
    font-weight: 600;
    color: var(--color-text);
    margin: var(--space-2) 0;
}