:host {
    display: grid;
    grid-template-areas:
        "side-panel media"
        "side-panel media";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    grid-gap: 1rem;
    width: 100%;
    padding: var(--space-3);
}

@media (max-width: 500px) {  
    :host {
        grid-template-areas:
            "side-panel";
        grid-template-columns: 1fr !important;  
        grid-template-rows: 1fr !important;  
        grid-gap: 0;
    }

    .side-panel {
        grid-area: side-panel;  
        max-width: none;  
    }

    .media {
        display: none;
    }

    .media.full {
        display: block;
        grid-area: side-panel;  
        max-width: none;  

        .return {
            display: block !important;
            position: absolute;
            top: var(--space-2);
            left: var(--space-2);
            width: var(--space-7);
            height: var(--space-7);
            background-color: var(--color-background);
            cursor: pointer;
            border-bottom-right-radius: var(--space-6);
            padding: var(--space-1);
            z-index: 10;
        }
        .return::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            mask-size: cover;
            mask-repeat: no-repeat;
            mask-position: center;
            mask-image: var(--mask);
            background-color: var(--color-text);
            transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
            transform: translate(-2px, -2px);
        }
    }
    .side-panel.full {
        display: none;
    }
}

.media, .side-panel {
    box-shadow: 0 0 2px 2px var(--color-background-300);
    grid-area: media;
    background-color: transparent;
    border-radius: 8px;
    overflow-y: auto;
    --color: white;
}
.side-panel {
    grid-area: side-panel;
    max-width: 450px;
    padding: var(--space-2);
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.return {
    display: none;
}
.header {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "thumbnail info"
        "actions actions";
    align-items: center;
    grid-gap: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-bottom: 0;

    .thumbnail {
        grid-area: thumbnail;
        width: 128px;
        height: 128px;
        border-radius: 99999px;
        overflow: hidden;
        background-color: var(--color-background-200);
        /* box-shadow: 0 0 4px 4px var(--color) inset; */

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info {
        grid-area: info;

        h2 {
            line-height: 1;
        }
        p {
            font-size: 0.875rem;
            font-weight: 500;
            color: var(--color-text-600);
        }
    }

    .actions {
        grid-area: actions;
        display: flex;
        gap: 1rem;
        margin-top: var(--space-3);

        .action {
            width: var(--space-6);
            height: var(--space-6);
            cursor: pointer;
            transition: filter 0.2s;

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                mask-position: center;
                mask-repeat: no-repeat;
                mask-size: contain;
                background-color: var(--color-text);
                mask-image: var(--mask);
            }
            &:hover {
                filter: brightness(.8);
            }
        }

        .play {
            border-radius: 99999px;
            background-color: var(--color-primary);
            scale: 1.55;

            &::after{
                scale: .65;
            }
        }
        .play.loading {
            animation: spin 1s linear infinite;
            background-color: var(--color-neutral);
        }
    }

    .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.35;
        background-size: cover;
        background-position: center;
        background-color: var(--color);

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: var(--space-7);
            background: linear-gradient(to bottom, var(--color), transparent);
        }
    }
}
.popular-songs {
    display: flex;
    flex-direction: column;
    margin: var(--space-7) 0;
    padding: 0 var(--space-2);

    .list {
        display: flex;
        flex-direction: column;
        gap: var(--space-1);
        width: 100%;
    }

    .popularity-index {
        font-size: calc(var(--font-size-base) * 1.25);
        font-weight: bold;
        color: var(--color-text-400);
        width: var(--space-6);
        text-align: center;
        flex-shrink: 0;
        opacity: 0.5;
    }

    .search-result {
        position: relative;
        max-height: 350px;
        /* max-width: 550px; */
        /* background-color: var(--color-background-300); */
        overflow: hidden;
        display: flex;
        cursor: pointer;
        flex-shrink: 0;
        color: var(--color-text);
    }
    .search-result.video {
        flex-direction: row;
        padding: var(--space-2) 0;
        border-bottom: solid 1px var(--color-background-200);
        width: 100%;
        aspect-ratio: 16 / 9;
        max-height: var(--space-8);
        align-items: center;
        background-color: transparent;
        gap: var(--space-2);
    }
    .search-result.video:last-child {
        border-bottom: solid 1px transparent;
    }
    .search-result.video .thumbnail {
        position: relative;
        height: var(--space-7);
        background-color: var(--color-background-200);
        aspect-ratio: 1 / 1;
        flex-shrink: 0;
        border-radius: 2px;
        background-color: var(--color-background-200);
        overflow: hidden;
    }
    .search-result.video .thumbnail img {
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .search-result.video .thumbnail .duration {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .5);
        color: var(--color-text);
        font-size: calc(var(--font-size-base) * .55);
        margin: 1px;
        padding: 1px;
        border-radius: 1px;
    }
    .search-result.video .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: var(--space-2);
        width: 100%;
        gap: var(--space-1);
        white-space: nowrap;
        overflow: hidden;
        --text: var(--color-text);
        --text-subtle: var(--color-neutral);
    }
    .search-result.video.selected .info {
        --text: var(--color-primary);
        --text-subtle: var(--color-primary);
    }
    .search-result.video .info .title {
        font-size: calc(.8 * var(--font-size-base));
        font-weight: 500;
        color: var(--text);
        display: -webkit-box;           /* REQUIRED */
        line-clamp: 2;
        -webkit-line-clamp: 2;          /* REQUIRED */
        -webkit-box-orient: vertical;   /* REQUIRED */
        overflow: hidden;               /* REQUIRED */
        text-overflow: ellipsis;
        white-space: normal;
        text-align: left;
    }
    .search-result.video .info .artist {
        font-size: calc(var(--font-size-base) * .7);
        color: var(--text-subtle);
        text-overflow: ellipsis;
        text-align: left;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        margin-right: 4px;

        &:hover {
            text-decoration: underline;
        }
    }
    .search-result.video .hot-action {
        position: relative;
        flex-shrink: 0;
        width: var(--space-6);
        height: var(--space-6);
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out;
    }
    .search-result.video .hot-action::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mask-size: cover;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-image: var(--mask);
        background-color: var(--color-primary);
    }
    .extra-info-alignment {
        display: flex;
        flex-direction: column-reverse;
    }
}
.albums {
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-2);
    
    .list {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        padding-bottom: var(--space-3);
        gap: var(--space-2);
    }

    .album {
        flex-shrink: 0;
        width: var(--space-11);
        height: calc(var(--space-11) + var(--space-9));
        margin-right: var(--space-2);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: var(--space-1);
        background-color: var(--color-background-200);
        border-radius: var(--space-4);
        overflow: hidden;
        padding: var(--space-2);

        .thumbnail {
            width: 100%;
            aspect-ratio: 1 / 1;
            border-top-left-radius: var(--space-2);
            border-top-right-radius: var(--space-2);
            background-color: var(--color-background-300);
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .title {
            font-size: calc(var(--font-size-base) * 1.25);
            font-weight: 600;
            color: var(--color-text);
            padding: 0 var(--space-1);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .artist {
            font-size: calc(var(--font-size-base) * .85);
            color: var(--color-text);
            padding: 0 var(--space-1);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            filter: brightness(0.75);
            display: flex;
            flex-direction: row;
            margin-right: 4px;
            flex-shrink: 0;

            &:hover {
                text-decoration: underline;
            }
        }

        .date {
            font-size: calc(var(--font-size-base) * .75);
            color: var(--color-text-600);
            padding: 0 var(--space-1);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: auto;
            filter: brightness(0.75);
        }
    }
}  

.side-panel .artist {
    display: flex;
    flex-direction: row;
    padding: var(--space-1);
    cursor: pointer;
    align-items: center;
    border-radius: var(--space-2);
    transition: background-color 0.15s ease-in-out;

    &:hover {
        background-color: var(--color-background-200);
    }

    .thumbnail {
        width: 32px;
        height: 32px;
        border-radius: 99999px;
        background-color: var(--color-background-300);
        overflow: hidden;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2px;
        width: 100%;
        overflow: hidden;

        .name {
            font-size: calc(var(--font-size-base) * 1);
            font-weight: 500;
            color: var(--color-text);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: var(--space-1);
        }

        .followers {
            font-size: calc(var(--font-size-base) * .75);
            color: var(--color-text-600);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            filter: brightness(0.75);
        }
    }

    .more-info {
        margin-left: auto;
        width: var(--space-5);
        height: var(--space-5);
        background-color: transparent;
        cursor: pointer;
        border: none;
        transition: background-color 0.15s ease-in-out;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            mask-size: cover;
            mask-repeat: no-repeat;
            mask-position: center;
            mask-image: var(--mask);
            background-color: var(--color-text);
            transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
            transform: rotate(135deg);
        }
    }

    &:hover .more-info::after {
        background-color: var(--color-primary);
        transform: rotate(180deg);
    }
}